.a-link {
	margin: 6px;
	padding: 6px;
	border-radius: 6px;
	background: #f4f4f4;
	color: gray;
	text-decoration: none;
	font-size: 9px;
}

.a-link:hover {
	background: gray;
	color: #f4f4f4;
}

.a-link-highlight {
	background: #f4f4f4;
	color: orange;
}

.a-link-highlight:hover {
	background: orange;
	color: #f8f8f8;
}
