.div-header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 12px;
	background: white;
}

.div-body {
	padding-top: 54px;
	padding-left: 12px;
}

.div-title {
	font-size: 36px;
}

.div-source {
	font-style: italic;
	font-size: 12px;
}

a {
	color: orange;
	text-decoration: none;
}

.div-preamble {
	width: 50%;
	line-height: 1.5;
}
