.div-charity-view {
	margin: 12px;
	padding: 12px;
}

.div-charity-name {
	padding-bottom: 24px;
	color: gray;
	font-size: larger;
}

.a-charity-url {
	color: gray;
	text-decoration: none;
}

.a-charity-url:hover {
	color: orange;
	text-decoration: none;
}
